Source: ros-lyrical-video-to-image-msg-publisher
Section: misc
Priority: optional
Maintainer: George Stavrinos <gstavrinos@protonmail.com>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-auto, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-cv-bridge, ros-lyrical-rclcpp, ros-lyrical-sensor-msgs, ros-lyrical-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-lyrical-video-to-image-msg-publisher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, ros-lyrical-cv-bridge, ros-lyrical-rclcpp, ros-lyrical-sensor-msgs, ros-lyrical-ros-workspace
Description: A simple node that publishes sensor_msgs/Image messages from a specified video file
