Source: ros-rolling-video-to-image-msg-publisher
Section: misc
Priority: optional
Maintainer: "George Stavrinos" <gstavrinos@protonmail.com>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, ros-rolling-ament-cmake, ros-rolling-ament-cmake-auto, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-cv-bridge, ros-rolling-rclcpp, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Homepage: https://index.ros.org/p/video_to_image_msg_publisher/#rolling
Standards-Version: 3.9.2

Package: ros-rolling-video-to-image-msg-publisher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, ros-rolling-cv-bridge, ros-rolling-rclcpp, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Description: A simple node that publishes sensor_msgs/Image messages from a specified video file
